.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hover_box .hover_symbols {
  display: none;
}
.hover_box:hover .hover_symbols {
  display: inline;
  padding-left: 5px;
}
.noty_studip_layout_container {
  background: #eee;
  border: 1px solid #eee;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 10px #444;
  height: auto;
  list-style-type: none;
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: 95%;
  z-index: 999;
}
.noty_bar {
  margin: 1px 0;
}
.noty_message {
  font-size: 13px;
  line-height: 16px;
  padding: 8px 0;
  position: relative;
  text-align: center;
}
.noty_type_success {
  background: #dcf1da;
  border: 1px solid #bad0b8;
  color: #000;
}
.noty_type_info {
  background: #d8e3fc;
  border: 1px solid #b6c1da;
  color: #000;
}
.noty_type_warning {
  background: #f8e98e;
  border: 1px solid #d5c76c;
  color: #b06500;
}
.noty_type_error {
  background: #ffdddc;
  border: 1px solid #ddbbba;
  color: #000;
}
.noty_type_exception {
  background: #ffbaba;
  border: 1px solid #ddbbba;
  color: #d8000c;
}
