// .messagebox(info,      #000,    #d8e3fc, #b6c1da);
// .messagebox(success,   #000,    #dcf1da, #bad0b8);
// .messagebox(error,     #000,    #ffdddc, #ddbbba);
// .messagebox(exception, #d8000c, #ffbaba, #ddbbba);
// .messagebox(warning,   #b06500, #f7e98e, #d5c76c, "advice");

.noty_studip_layout_container {
    background: #eee;
    border: 1px solid #eee;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 10px #444;
    height: auto;
    list-style-type: none;
    margin: 1px auto 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 95%;
    z-index: 999;
}
.noty_message {
    font-size: 13px;
    line-height: 16px;
    padding: 8px 10px 8px 52px;
    position: relative;
    text-align: left;
}
.noty_bar {
    margin: 1px 0;
    padding: 10px 0;
}
.noty_type_success {
    background: url("@{image-path}/messagebox/success.png") #dcf1da no-repeat 10px 10px;
    border: 1px solid #bad0b8;
    color: #000;
}
.noty_type_info {
    background: url("@{image-path}/messagebox/info.png") #d8e3fc no-repeat 10px 10px;
    border: 1px solid #b6c1da;
    color: #000;
}
.noty_type_warning {
    background: url("@{image-path}/messagebox/warning.png") #f8e98e no-repeat 10px 10px;
    border: 1px solid #d5c76c;
    color: #b06500;
}
.noty_type_error {
    background: url("@{image-path}/messagebox/error.png") #ffdddc no-repeat 10px 10px;
    border: 1px solid #ddbbba;
    color: #000;
}
.noty_type_exception {
    background: url("@{image-path}/messagebox/exception.png") #ffbaba no-repeat 10px 10px;
    border: 1px solid #ddbbba;
    color: #d8000c;
}
